// 1) VARIABILI SASS
$main-color: cyan;
$secondary-color: palegreen;
$body-color: rgb(28, 27, 29);
$sans-serif: "Arial", "Helvetica", sans-serif;
$heading-font: "";
$margin-0: 0;
$margin-1: 0.25rem;
$margin-2: 0.5rem;
$margin-3: 1rem;
$margin-4: 2rem;
$margin-5: 3rem;

body {
  font-family: $sans-serif;
  color: $body-color;

  font-weight: 300;
}

main h2 {
  background-color: $main-color;
}

// main {
//   padding: 1rem;
// }

// main > section {
//   border: 1px solid $secondary-color;
// }

// main > section > div > ul {
//   list-style: none;
//   padding-inline-start: 0;
// }

// 2) NESTING (o annidamento) dei selettori CSS

main {
  padding: 1rem;

  > section {
    border: 3px solid $secondary-color;

    > div {
      border: 3px solid red;

      > ul {
        list-style: none;
        padding-inline-start: 0;
      }
    }
  }

  ul {
    &:not(section ul) {
      li {
        &::marker {
          content: "🚀";
        }
      }
    }
  }

  .area-1 {
    background-color: $main-color;

    // parent selector, riprende tutto un selettore del genitore
    &:hover {
      background-color: $secondary-color;
    }

    &:active {
      background-color: crimson;
    }
  }

  .area-2 {
    img {
      max-width: 100%;
    }
  }
}

.button {
  background-color: transparent;
  border: 1px solid transparent;
  font-family: inherit;
  font-size: 1rem;

  &--primary {
    background-color: $main-color;
    color: $body-color;

    &__span {
      background-color: black;
      color: white;

      &:hover {
        background-color: white;
        color: $body-color;
      }
    }
  }
}
