$main-color: cyan;
$secondary-color: palegreen;
$body-color: rgb(28, 27, 29);
$sans-serif: "Arial", "Helvetica", sans-serif;
$heading-font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$margin-0: 0;
$margin-1: 0.25rem;
$margin-2: 0.5rem;
$margin-3: 1rem;
$margin-4: 2rem;
$margin-5: 3rem;
